main {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-logo {
  margin-top: 40px;
}

.title-logo {
  padding-top: 20px;
  font-size: 40px;
}
